* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;

    .logo {
        position: relative;
        left: 100px;
        display: inline-block;
        margin-top: 20px;

        img {
            size: 50px;

        }
    }

    .options {
        display: flex;
        margin: 8px;
        margin-left: 85vh;

        a {
            float: left;
            text-decoration: none;
            margin: 25px;
            color: black;
            font-size: 15px;

            &:hover {
                text-decoration: underline;

            }
        }


    }

    .shopping-bag {
        i {
            font-size: 25px;
            position: relative;
            right: 180px;
            top: 18px;
        }
    }

}

#home {
    background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-A0xnbgZ4WxTJlN3R.jpg);
    background-repeat: no-repeat;
    background-size: 220vh;
    background-size: cover;
}

#home {

    height: 90vh;
    width: 100%;

    .part {
        width: 500px;
        margin-left: 200px;
        justify-content: space-between;

        .title {
            font-size: 50px;
            font-family: $primary-font;
            font-weight: 50px;
            color: rgb(34, 33, 33);
            position: relative;
            top: 240px;
        }

        .summary {
            font-size: 17px;
            font-family: $secondary-font;
            position: relative;
            top: 280px;
        }

        #shop-btn {
            padding: 15px 40px;
            position: relative;
            top: 320px;
            background-color: rgb(47, 45, 45);
            color: white;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.needs {
    margin-top: 150px;

    .title {
        font-family: $primary-font;
        font-size: 50px;
        font-weight: 50px;
        color: rgb(34, 33, 33);
        text-align: center;
    }

    .summary {
        font-size: 17px;
        font-family: $secondary-font;
        text-align: center;
        max-width: 50vh;
        margin: 0 auto;
        margin-top: 20px;

    }

    .category {
        margin-top: 35px;
        justify-content: center;
        display: flex;

        img {
            padding-left: 40px;
        }

        .accessories,
        .toys,
        .clothes {

            .clothes-btn,
            .toys-btn,
            .acc-btn {
                padding: 15px 40px;
                background-color: rgb(47, 45, 45);
                color: white;
                margin-top: -50px;
                margin-left: 150px;

                &:hover {
                    opacity: 0.7;
                }
            }

        }
    }

}

#our-story {
    padding: 220px;

    .part {
        display: flex;
        justify-content: space-around;
        .title {
            font-family: $secondary-font;

        }

        .sub-title {
            font-family: $primary-font;
            font-size: 50px;
            font-weight: 50px;
            color: rgb(34, 33, 33);
            width: 60vh;

        }

        .summary {
            font-size: 17px;
            font-family: $secondary-font;
            max-width: 80vh;
            margin-top: 30px;
            width: 60vh;

        }

        .story-btn {
            padding: 15px 40px;
            background-color: rgb(47, 45, 45);
            color: white;
            margin-top: 45px;
        }
    }
}